tomcat.8080/
.idea/**/workspace.xml
.idea/**/libraries
*.class
*.jar
.idea/AWSEC2WakeLauncher.iml
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
server/awsec2wakelauncher.server.iml
