tomcat.8080/
.idea/**/workspace.xml
.idea/**/libraries
.idea/AWSEC2WakeLauncher.iml
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
server/awsec2wakelauncher.server.iml
**/target

\.idea/dictionaries/frede\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/uiDesigner\.xml

applicationclient/applicationclient\.iml

applicationclient/awsec2wakelauncher\.client\.iml

common/common\.iml

**/webapps/**
